<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" />
    <title>CRUD</title>
</head>
<body>
    <h1><%=title%></h1>
    <p>Fill in the data for safe a client</p>
    <div  id="alertRegister" class="alert alert-danger col-sm-6">
        <strong>Erro!</strong>
    </div>
    <form id="frmRegister" action="<%=action%>" method="POST" role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="name">Name: <input type="text" id="name" name="name" value="<%= result.name %>" class="form-control"/></label>
        </div>
        <div class="form-group">
            <label class="control-label">Age: <input type="number" id="age" name="age" value="<%= result.age %>" class="form-control"/></label>
        </div>
        <div class="form-group">
            <label class="control-label">State: 
                <select name="state" class="form-control">
                    <% const s = "selected" %>
                    <option <% if (result.state === "BA") { %><%= s %><% } %>>BA</option>
                    <option <% if (result.state === "PE") { %><%= s %><% } %>>PE</option>
                    <option <% if (result.state === "RS") { %><%= s %><% } %>>RS</option>
                    <option <% if (result.state === "PA") { %><%= s %><% } %>>PA</option>
                </select>
            </label>
            <div class="form-group">
                <a class="btn btn-default" href="/">Cancell</a>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script-new.js"></script>
</body>
</html>